 {%  extends 'base.html' %}

 {%  block title %}Danh sach nguoi dung{% endblock  %}
 {% block content %} 
<div class="container"> 
    {% csrf_token %}
    <h1>What's up stupid!!!</h1>
    <p>Xin chào<strong>{{ user.username }}</strong></p>
    <p>Đăng nhập lần cuối: {{ user.last_login }}</p>
   </div><div class="container video-list">
      <h1 class="mb-3">PeRfEcT</h1>
      {% for item in 'dthai' %} 
      <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="https://placeimg.com/640/480/any" alt="..." width="120">
         </div>
          <div class="flex-grow-1 ms-3">
            <h5><a href="">{{ item.name }}This is some content from a media component. You can replace this with any content and adjust it as needed.</a></h5>
          {% lorem 3 p random %}
          </div>
        </div>
        
    {% endfor %}
  </div>

 {% endblock %}  
